.header {
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  padding: 20px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  &__logo-box {
  }

  &__logo-link {
    color: #fff;
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }

  &__logo-img {
    width: 30px;
    height: 30px;
  }

  &__logo-descr {
  }

  &__text {
    font-size: 14px;
  }
}


@media (max-width: 430px) {
  .header__text{
    display: none;
  }
}
